:root {
  --side-nav-color: #5A57FF;
  --main-content-background: #FAF9FF;
  --tablet-break-point: 1024px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--main-content-background);

}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
